/* Базовые стили (общие) */
html {
  box-sizing: border-box;
  margin: 0;
}

*,
::after,
::before {
  box-sizing: inherit;
}

:focus-visible {
  outline-color: #fd0e11;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a,
button,
input {
  font-family: "Roboto", sans-serif;
}

/* bebas-neue-regular - latin */
@font-face {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/bebas-neue-v2-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */ url("../fonts/bebas-neue-v2-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/roboto-v27-latin_cyrillic-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */ url("../fonts/roboto-v27-latin_cyrillic-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-italic - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  src: local(""), url("../fonts/roboto-v27-latin_cyrillic-italic.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */ url("../fonts/roboto-v27-latin_cyrillic-italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-700 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/roboto-v27-latin_cyrillic-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */ url("../fonts/roboto-v27-latin_cyrillic-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  background-color: #ffffff;
  color: #635854;
  font-family: "Roboto", sans-serif;
  /* font-family: 'Bebas Neue', cursive; */
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 25px;
}

.custom-header {
  background-color: #635854;
  color: #ffffff;
  border-bottom: 4px solid #3596f5;
}

.custom-header .wrapper {
  display: grid;
  grid-template-columns: 120px 670px 165px;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
}

.callback {
  text-align: right;
}

.callback .callback__label {
  display: block;
  margin: 0;
  margin-bottom: 5px;
}

.callback .callback__link {
  color: #ffffff;
  text-decoration: none;
  font-weight: 700;
}

.main-navigation__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-navigation__item {
  max-width: 140px;
}

.main-navigation__link {
  color: #ffffff;
  text-decoration: none;
  font-family: inherit;
  text-align: center;
  display: block;
  padding: 9px 16px;
}

.main-navigation__link--active {
  background-color: #3596f5;
}

.apartment {
  padding: 55px 0;
}

.apartment__image path {
  opacity: 0;
  cursor: pointer;
}

.apartment__image path:hover {
  opacity: 1;
}

.apartment__title {
  font-weight: 400;
  font-size: 37px;
  text-align: center;
  text-transform: uppercase;
  color: #635854;
  margin: 0;
  margin-bottom: 110px;
}
